body {
    background-color: rgb(59, 59, 173);
    overflow-x: hidden;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
}
.app-container {
    display: flex;
    flex-flow: row wrap;
    /* overflow: auto; */
}
.app-header-search-bar {
    position: fixed;
    flex: 1;
    margin: 4rem 4rem auto 1rem;
}
.app-search-results-container {
    padding-left: 30rem;
    margin: 2rem auto 1rem;
}
.input-length-counter {
    text-align: center;
    margin-left: 20px;
    font-size: 1.5rem;
}
